:root{

    --DarkBlue1: hsl(217, 28%, 15%);
    --DarkBlue4: hsl(218, 28%, 13%);
    --DarkBlue2: hsl(216, 53%, 9%);
    --DarkBlue3: hsl(219, 30%, 18%);
    
    
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --LightRed: hsl(0, 100%, 63%);
    
    
    --White:hsl(0, 0%, 100%);
    }

.İnput{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}
.input-clas{
    background: var(--DarkBlue3);
    width: 700px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.input-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.btn-get{
    color: white;
    background: var(--Cyan);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    width: 180px;
    cursor: pointer;
}
#input{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
}
.input-card-title{
    width: 100%;
}
form{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.form{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.error{
    color: var(--LightRed);
    
}
@media(max-width:860px){
    .input-clas{
        width: 100%;
        height: 40vh;
    }
    form{
        flex-direction: column;
    }
}